@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spacing: 1px;
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  position: relative;
  background-color: black;
  color: var(--foreground);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
.test {
  position: absolute;
  background-image: url("../../public/바탕화면.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 15px;
}
p {
  font-size: 13px;
} */

html {
  font-size: 16px; /* 기본값 */
}

@media (min-width: 1281px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 659px) {
  html {
    font-size: 13px;
  }
}
